 .navbar-brand {
     font-size: 30px;
     color: white !important;
 }
 
 .nav-link {
     color: white!important;
     padding: 10px 20px !important;
     font-size: 12px;
     font-family: font-family 'Spectral', serif;
 }
 
 .nav-link:hover {
     background-color: rgb(33, 83, 52, 0.7) !important;
     border-bottom: solid;
     border-width: 3px;
 }
 
 .navbar {
     display: flex;
     background-color: rgb(33, 83, 52)!important;
 }
 
 .btn {
     margin: 10px;
     font-size: 12px;
 }
 
 body {
     background-color: rgb(229, 241, 234);
 }
 
 .display-4 {
     color: rgb(33, 83, 52);
     font-size: 60px;
     padding-top: 20px;
 }
 
 .intro {
     margin: auto 60px;
     padding-bottom: 30px;
 }
 
 hr {
     border-top: 2px solid rgba(62, 44, 100, 0.6);
     width: 70%;
     margin-bottom: 2rem;
     margin-left: auto;
     margin-right: auto;
 }
 
 .welcome hr {
     border-top: 2px solid rgba(62, 44, 100, 0.6);
     width: 70%;
     margin-bottom: 2rem;
     margin-left: auto;
     margin-right: auto;
 }
 
 .course {
     padding-bottom: 15px;
 }
 
 .card {
     margin: 15px;
 }
 
 .card .btn {
     font-size: 15px;
 }
 
 .card:hover {
     border: rgb(6, 37, 35, 0.9);
 }
 
 .form-control {
     width: 60%;
     height: auto;
     margin: auto 20%;
 }
 
 #login {
     text-align: center!important;
 }
 
 .login-box {
     width: 60%;
     margin: 100px 20%;
 }